@font-face {
  font-family: 'Main';
  src: url('../Fonts/flutter-main.woff2');
}

@font-face {
  font-family: 'Regular';
  src: url('../Fonts/flutter-secondary.woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  @include flex-col-center();
  justify-content: center;
  align-items: center;

  nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;

    .top {
      width: 100%;
      color: white;
      font-size: 0.9rem;
      font-family: 'Main', sans-serif;
      background-color: rgba(0, 0, 0, 0);
      background-image: linear-gradient(124.64deg, rgb(2, 125, 253), rgb(131, 62, 242));
      padding: 1rem;

      display: flex;
      justify-content: center;

      p {
        font-weight: 550;
      }
    }

    .btm {
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      .logo img {
        width: 8rem;
      }

      .menu {

        a,
        i,
        button {
          display: none;
        }

        i:last-child {
          display: flex;
          font-size: 1.2rem;
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
  }

  section#sec1 {
    width: 100%;
    font-family: 'Main', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(35deg, rgb(252, 221, 232), rgb(243, 252, 255) 60%);

    @include flex-col-center();
    justify-content: center;
    padding: 4rem 3rem;

    .top,
    .btm {
      max-width: 1290px;
    }

    .top {
      width: 100%;
      @include flex-col-center();
      gap: 4rem;

      img {
        width: 90%;
        max-width: 600px;
      }

      h1 {
        font-size: 2.9rem;
        line-height: 1.0;
        text-align: center;
        max-width: 530px;
      }
    }

    .btm {
      h2 {
        font-size: 2.1rem;
        font-weight: 200;
        margin: 6.5rem 0 2.5rem;
        text-align: center;
      }
    }
  }

  section#sec2 {
    width: 100%;
    max-width: 1190px;
    @include flex-col-center();
    gap: 1.6rem;
    padding: 4rem 2rem;

    .sec2 {

      hr {
        border-top: 3px solid rgba(84, 84, 84, 0.29);
        border-radius: 3px;
      }

      h2 {
        font-family: 'Main', sans-serif;
        font-weight: 800;
        font-size: 1.7rem;
        padding: 1rem;
      }

      p {
        color: #4A4A4A;
        font-size: 1.1rem;
        font-family: 'Regular', sans-serif;
        padding: 0 1rem 3rem 1rem;
      }

      img {
        width: 90%;
      }
    }
  }

  section#sec3 {
    width: 100%;
    @include flex-col-center();
    justify-content: center;
    padding: 2rem 3rem;

    .top,
    .btm {
      max-width: 1290px;
    }

    .top {
      img {
        max-width: 600px;
      }
    }

    .btm {
      @include flex-col-center();
      align-items: flex-start;
      gap: 1rem;

      h6 {
        color: #4A4A4A;
        font-size: 1.2rem;
        font-family: 'Main', sans-serif;
      }

      h1 {
        font-size: 3rem;
        font-family: 'Main', sans-serif;
      }

      p {
        max-width: 904px;
        color: #4A4A4A;
        font-size: 1.2rem;
        font-family: 'Regular', sans-serif;
        line-height: 1.4;
      }

      .btns {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-top: 0.5rem;
        font-family: 'Regular', sans-serif;

        button {
          color: #0468D7;
          background-color: white;
          border: 0.02rem solid #0468D7;
          border-radius: 1.5rem;
          padding: 0.6rem 2.2rem;
          font-size: 0.9rem;
          font-weight: 600;
        }

        button:hover {
          cursor: pointer;
          color: white;
          background-color: #0468D7;
        }

        p {
          font-size: 0.9rem;
          font-weight: 600;
        }
      }
    }
  }

  section#sec4 {
    width: 100%;
    @include flex-col-center();
    justify-content: center;
    padding: 4rem 3rem;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(35deg, rgb(252, 252, 226) 40%, rgb(245, 251, 254) 90%);

    .top,
    .btm {
      max-width: 1290px;
    }

    .top {
      img {
        max-width: 600px;
      }
    }

    .btm {
      @include flex-col-center();
      align-items: flex-start;
      gap: 1rem;
      margin-top: 1.5rem;


      h6 {
        color: #4A4A4A;
        font-size: 1.2rem;
        font-family: 'Main', sans-serif;
      }

      h1 {
        font-size: 2.8rem;
        font-family: 'Main', sans-serif;
      }

      p {
        color: #4A4A4A;
        font-size: 1.1rem;
        font-family: 'Regular', sans-serif;
        line-height: 1.4;
        padding-right: 5.5rem;
      }

      button {
        color: white;
        background-color: #0468D7;
        border: 0.02rem solid #0468D7;
        border-radius: 1.5rem;
        padding: 0.6rem 2.2rem;
        font-size: 0.9rem;
        font-weight: 600;
      }

      button:hover {
        cursor: pointer;
      }
    }
  }

  section#sec5 {
    width: 100%;
    @include flex-col-center();
    justify-content: center;
    padding: 4rem 3rem;

    .top,
    .btm {
      max-width: 1290px;
    }

    .top {
      img {
        max-width: 600px;
      }
    }

    .btm {
      @include flex-col-center();
      align-items: flex-start;
      gap: 1rem;
      margin-top: 1.5rem;


      h6 {
        color: #4A4A4A;
        font-size: 1.2rem;
        font-family: 'Main', sans-serif;
      }

      h1 {
        font-size: 2.8rem;
        font-family: 'Main', sans-serif;
      }

      p {
        color: #4A4A4A;
        font-size: 1.1rem;
        font-family: 'Regular', sans-serif;
        line-height: 1.4;
        padding-right: 5.5rem;
      }

      button {
        color: #0468D7;
        background-color: white;
        border: 0.02rem solid #0468D7;
        border-radius: 1.5rem;
        padding: 0.6rem 2.2rem;
        font-size: 0.9rem;
        font-weight: 600;
      }

      button:hover {
        cursor: pointer;
        color: white;
        background-color: #0468D7;
      }
    }
  }

  section#sec6 {
    width: 100%;
    @include flex-col-center();
    justify-content: center;
    padding: 4rem 3rem;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(35deg, rgb(252, 252, 226) 40%, rgb(245, 251, 254) 90%);

    .top,
    .btm {
      max-width: 1290px;
    }

    .top {
      img {
        max-width: 600px;
      }
    }

    .btm {
      @include flex-col-center();
      align-items: flex-start;
      gap: 1rem;
      margin-top: 1.5rem;


      h6 {
        color: #4A4A4A;
        font-size: 1.2rem;
        font-family: 'Main', sans-serif;
      }

      h1 {
        font-size: 2.8rem;
        font-family: 'Main', sans-serif;
      }

      p {
        color: #4A4A4A;
        font-size: 1.1rem;
        font-family: 'Regular', sans-serif;
        line-height: 1.4;
        padding-right: 5.5rem;
      }

      button {
        color: white;
        background-color: #0468D7;
        border: 0.02rem solid #0468D7;
        border-radius: 1.5rem;
        padding: 0.6rem 2.2rem;
        font-size: 0.9rem;
        font-weight: 600;
      }

      button:hover {
        cursor: pointer;
      }
    }
  }

  section#sec7 {
    width: 100%;
    height: 40%;

    .container {
      margin: 3rem;
      font-family: 'Main', sans-serif;
      background-color: rgb(21, 21, 84);
      border-radius: 1rem;
      overflow: hidden;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;

      .top {
        width: 100%;
        height: 100%;
        color: white;
        position: absolute;
        top: 35%;
        left: 10%;

        @include flex-col-center();
        gap: 1.2rem;
        align-items: flex-start;

        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.5rem;
        }

        .btns {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          button {
            padding: 0.4rem 1.2rem;
            border: none;
            border-radius: 0.8rem;
            color: #0468D7;
            font-size: 0.9rem;
            font-weight: 500;
          }

          p {
            font-size: 0.9rem;
          }
        }
      }

      .btm img {
        width: 100%;
      }
    }
  }

  footer {
    width: 100%;
    padding: 3rem 4rem;
    @include flex-col-center();
    align-items: flex-start;

    .footer-top {
      width: 100%;
      @include flex-col-center();
      align-items: flex-start;

      .logo img {
        width: 8rem;
      }

      #links {
        padding: 0.5rem 0 2rem 1rem;
        @include flex-col-center();

        .link {
          @include flex-col-center();
          align-items: flex-start;
          gap: 0.5rem;

          h6 {
            font-size: 1rem;
            font-family: 'Main', sans-serif;
            padding: 2.5rem 0 0 0;
          }

          a {
            color: #4A4A4A;
            text-decoration: none;
            font-family: 'Regular', sans-serif;
            font-size: 1rem;
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .socials {
      padding: 1rem;
      display: flex;
      gap: 1rem;
      color: #4A4A4A;
    }

    .socials i:hover {
      cursor: pointer;
    }

    hr {
      border-top: 3px solid rgba(84, 84, 84, 0.29);
      border-radius: 3px;
    }

    .footer-btm {
      width: 100%;
      @include flex-col-center();
      gap: 1rem;
      padding: 2rem 0rem;
      font-family: 'Regular', sans-serif;
      text-align: center;
      color: #4A4A4A;
      font-size: 0.9rem;

      .policies {
        display: flex;
        justify-content: center;
        gap: 1.5rem;

        a {
          text-decoration: none;
          color: #4A4A4A;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  main {
    footer {
      .footer-top {
        flex-direction: row;
        justify-content: space-between;

        #links {
          width: 55%;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-around;
          gap: 5rem;
          padding: 0;

          .link {
            gap: 1rem;
          }

          .link h6 {
            padding: 0;
          }
        }
      }

      .socials {
        padding: 6rem 0 1rem;
        gap: 1.5rem;
      }

      .footer-btm {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;

        p {
          text-align: left;
        }
      }
    }
  }
}


@media (min-width: 1094px) {
  main {
    nav {
      width: 100%;

      .top {
        width: 100%;
      }

      .btm {
        padding: 1rem 3rem;

        .menu {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2.5rem;
          font-family: 'Main', sans-serif;

          a,
          i,
          button {
            display: inline-block;
          }

          a {
            text-decoration: none;
            color: #4A4A4A;
            font-weight: 600;
            font-size: 0.9rem;
          }

          a:nth-child(3) {
            color: rgb(4, 104, 215);
          }

          i {
            font-size: 0.9rem;
            font-weight: 550;
          }

          button {
            color: #ffffff;
            background-color: rgb(4, 104, 215);
            border: none;
            padding: 0.6rem 1.6rem;
            border-radius: 1.4rem;
            font-size: 0.9rem;
            font-weight: 600;
            cursor: pointer;
          }

          i:last-child {
            display: none;
          }
        }
      }
    }

    section#sec1 {
      width: 100%;

      .top {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        h1 {
          font-size: 4.3rem;
          text-align: left;
          padding-left: 5rem;
        }
      }

      .btm {
        margin: 0 7.5rem;
        max-width: 1258px;

        h2 {
          font-size: 2.2rem;
          max-width: 930px; // stop it from stretching too far
          margin: 6.5rem auto 2.5rem; // center horizontally
          text-align: center;
        }
      }
    }

    section#sec2 {
      flex-direction: row;

      .sec2 {

        p {
          font-size: 1.2rem;
          line-height: 1.5;
          padding: 0 1rem 3rem 1rem;
        }
      }
    }

    section#sec3 {
      flex-direction: row-reverse;
      gap: 2rem;
      padding: 2.5rem 6rem 2.5rem 6rem;
      max-width: 1310px;

      .btm {
        padding: 0 3.5rem 0 1.5rem;

        h1 {
          font-size: 4rem;
        }
      }
    }

    section#sec4 {
      flex-direction: row;
      gap: 3rem;

      .btm {
        max-width: 550px;

        h1 {
          font-size: 3.5rem;
        }

        p {
          font-size: 1.3rem;
        }
      }
    }

    section#sec5 {
      flex-direction: row-reverse;
      gap: 3rem;
      padding: 4rem;

      .btm {
        max-width: 550px;

        h1 {
          font-size: 3.5rem;
          padding-right: 3rem;
        }

        p {
          font-size: 1.3rem;
        }
      }
    }

    section#sec6 {
      flex-direction: row;
      gap: 3rem;
      padding: 4rem;

      .btm {
        max-width: 550px;

        h1 {
          font-size: 3.5rem;
          padding-right: 3rem;
        }

        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}