@font-face {
  font-family: "Alvy Heading";
  src: url("../Fonts/alvy-headings.woff") format("woff");
}
@font-face {
  font-family: "Alvy Regular";
  src: url("../Fonts/alvy-regular.woff");
}
@font-face {
  font-family: "Alvy Bold";
  src: url("../Fonts/alvy-bold.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  color: rgb(216, 211, 211);
  font-family: "Alvy Regular", sans-serif;
  font-size: clamp(14px, 1.5vw, 18px);
}

body {
  background-color: rgb(26, 25, 25);
}

section {
  max-width: 1900px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main section#sec1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section#sec1 .top {
  width: 100%;
}
main section#sec1 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section#sec1 .btm {
  background-color: #2c2c2c;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2.5rem;
}
main section#sec1 .btm > p {
  font-size: 0.8rem;
  font-family: "Alvy Bold", sans-serif;
}
main section#sec1 .btm .btm-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section#sec1 .btm .btm-text h1 {
  color: rgb(244, 242, 237);
  font-size: 3rem;
  font-weight: 580;
  line-height: 1.1;
  font-family: "Alvy Heading";
  text-transform: uppercase;
}
main section#sec1 .btm .btm-text p {
  font-size: 1.5rem;
  color: rgb(189, 185, 185);
  margin-bottom: 1rem;
}
main section#sec1 .btm .btm-text span {
  font-size: 1rem;
  font-family: "Alvy Bold", sans-serif;
}
main section#sec1 .btm .btm-text span i {
  border: 0.001rem solid rgba(235, 212, 212, 0.712);
  background-color: rgba(40, 38, 38, 0.7764705882);
  padding: 0.4rem;
  margin-right: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
}
main section#sec2 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main section#sec2 .top,
main section#sec2 .btm {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main section#sec2 .element {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
main section#sec2 .element p {
  font-size: 0.8rem;
  opacity: 0.6;
  font-family: "Alvy Bold";
}
main section#sec2 .element h4 {
  color: rgb(244, 242, 237);
  font-size: 2.5rem;
  font-family: "Alvy Heading";
  font-weight: 300;
}
main section#sec3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section#sec3 .top {
  width: 100%;
}
main section#sec3 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section#sec3 .btm {
  background-color: #2c2c2c;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2.5rem;
}
main section#sec3 .btm > p {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Alvy Bold", sans-serif;
}
main section#sec3 .btm .btm-text {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
main section#sec3 .btm .btm-text h1 {
  color: rgb(244, 242, 237);
  font-size: 3rem;
  font-weight: 580;
  line-height: 1.1;
  font-family: "Alvy Heading";
  text-transform: uppercase;
  padding-bottom: 1rem;
}
main section#sec3 .btm .btm-text p {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  color: rgb(189, 185, 185);
}
main section#sec4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section#sec4 .top {
  width: 100%;
}
main section#sec4 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section#sec4 .btm {
  background-color: #2c2c2c;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2.5rem;
}
main section#sec4 .btm > p {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Alvy Bold", sans-serif;
}
main section#sec4 .btm .btm-text {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
main section#sec4 .btm .btm-text h1 {
  color: rgb(244, 242, 237);
  font-size: 3rem;
  font-weight: 580;
  line-height: 1.1;
  font-family: "Alvy Heading";
  text-transform: uppercase;
  padding-bottom: 1rem;
}
main section#sec4 .btm .btm-text p {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  color: rgb(189, 185, 185);
}
main section#sec5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section#sec5 h1 {
  font-size: 3rem;
  font-family: "Alvy Heading";
  font-weight: 500;
  padding: 0.5rem 1.5rem 0rem 1.5rem;
}
main section#sec5 .cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 1.5rem;
}
main section#sec5 .cards .card {
  border-radius: 0.7rem;
  background-size: cover;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main section#sec5 .cards .card .top {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
main section#sec5 .cards .card .top i {
  background-color: rgba(105, 104, 104, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border: 0.0002rem solid rgba(255, 255, 255, 0.062);
  padding: 0.5rem;
  border-radius: 50%;
  font-family: "Alvy Regular", sans-serif;
}
main section#sec5 .cards .card .top i:hover {
  cursor: pointer;
  border: 0.0002rem solid rgba(255, 255, 255, 0.251);
}
main section#sec5 .cards .card .btm {
  color: rgb(244, 242, 237);
  background-color: rgba(105, 104, 104, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 0.0002rem solid rgba(255, 255, 255, 0.251);
  border-radius: 0.7rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#sec5 .cards .card .btm h3 {
  font-family: "Alvy Heading";
}
main section#sec5 .cards .card .btm p {
  font-family: "Alvy Bold";
}
main section#sec5 .cards .card:nth-child(1) {
  background-image: url(./assets/sec5-1.webp);
}
main section#sec5 .cards .card:nth-child(2) {
  background-image: url(./assets/sec5-2.webp);
}
main section#sec5 .cards .card:nth-child(3) {
  background-image: url(./assets/sec5-3.webp);
}
main section#sec6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}
main section#sec6 .top {
  width: 100%;
}
main section#sec6 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section#sec6 .btm {
  background-color: #2c2c2c;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2.5rem;
}
main section#sec6 .btm .btm-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section#sec6 .btm .btm-text h1 {
  color: rgb(244, 242, 237);
  font-size: 3rem;
  font-weight: 580;
  line-height: 1.1;
  font-family: "Alvy Heading";
  text-transform: uppercase;
}
main section#sec6 .btm .btm-text p {
  color: rgb(189, 185, 185);
  font-weight: 500;
  font-size: 0.8rem;
  font-family: "Alvy Bold", sans-serif;
}
main section#sec6 .btm .btm-link span {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Alvy Bold", sans-serif;
}
main section#sec6 .btm .btm-link span i {
  border: 0.001rem solid rgba(235, 212, 212, 0.712);
  background-color: rgba(40, 38, 38, 0.7764705882);
  padding: 0.4rem;
  margin-right: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
}
main section#sec7 {
  width: 100%;
  color: black;
}
main section#sec7 .sec7-text {
  margin: 0rem 1.5rem 1.5rem 1.5rem;
  padding: 2rem;
  border-radius: 0.7rem;
  background-color: rgb(206, 189, 99);
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section#sec7 .sec7-text .top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section#sec7 .sec7-text .top p {
  font-family: "Alvy Bold";
  font-weight: 500;
}
main section#sec7 .sec7-text .top h1 {
  font-size: 5rem;
  font-weight: 400;
  font-family: "Alvy Heading";
  line-height: 1.1;
}
main section#sec7 .sec7-text .btm {
  color: rgb(244, 242, 237);
  background-color: #181818;
  border-radius: 0.7rem;
  padding: 1rem;
  text-align: center;
  font-family: "Alvy Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
}
footer .top {
  width: 100%;
  background-color: #2c2c2c;
  border-radius: 0.7rem;
  padding: 1.5rem;
}
footer .top h2 {
  font-family: "Alvy Heading";
}
footer .top .icons {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
footer .top .icons i {
  background-color: rgba(105, 104, 104, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border: 0.0002rem solid rgba(255, 255, 255, 0.062);
  padding: 0.5rem;
  border-radius: 50%;
  font-family: "Alvy Regular", sans-serif;
}
footer .top .icons i:hover {
  cursor: pointer;
  border: 0.0002rem solid rgba(255, 255, 255, 0.251);
}
footer .btm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
footer .btm .btm-sec1 {
  width: 100%;
  height: 20%;
  color: rgba(244, 242, 237, 0.6);
  background-color: #2c2c2c;
  border-radius: 0.7rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.5rem;
}
footer .btm .btm-sec1 .secs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .btm .btm-sec1 .secs h3 {
  color: rgb(244, 242, 237);
  font-family: "Alvy Heading";
  font-weight: 300;
}
footer .btm .btm-sec1 .secs a {
  text-decoration: none;
  color: rgba(244, 242, 237, 0.6);
  font-size: 0.8rem;
  font-family: "Alvy Bold";
  cursor: pointer;
}
footer .btm .btm-sec1 .secs a:hover {
  color: rgb(245, 244, 242);
  text-decoration: underline;
}
footer .btm .btm-sec1 #sec1 a:last-child {
  color: #2c2c2c;
  background-color: rgb(206, 189, 99);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
}
footer .btm .btm-sec1 #sec1 a:last-child:hover {
  background-color: rgb(189, 172, 85);
  text-decoration: none;
}
footer .btm .btm-sec2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  color: rgba(244, 242, 237, 0.6);
  background-color: #2c2c2c;
  border-radius: 0.7rem;
  padding: 1.5rem;
  font-family: "Alvy Bold";
}
footer .btm .btm-sec2 .secs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
footer .btm .btm-sec2 #sec2-btm {
  cursor: pointer;
}
footer .btm .btm-sec2 #sec2-btm i {
  border: 0.001rem solid rgba(235, 212, 212, 0.712);
  background-color: rgba(40, 38, 38, 0.7764705882);
  padding: 0.4rem;
  border-radius: 50%;
}

@media (min-width: 966px) {
  main section#sec1 {
    flex-direction: row;
    align-items: stretch;
    padding: 1.5rem;
  }
  main section#sec1 .top,
  main section#sec1 .btm {
    width: 50%;
  }
  main section#sec1 .top img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#sec1 .btm {
    justify-content: space-between;
    padding: 2.5rem;
  }
  main section#sec1 .btm .btm-text h1 {
    font-size: 4rem;
    font-weight: 400;
  }
  main section#sec1 .btm .btm-text p {
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 1.2rem;
  }
  main section#sec1 .btm .btm-text span {
    font-size: 0.8rem;
  }
  main section#sec2 {
    flex-direction: row;
  }
  main section#sec3 {
    flex-direction: row-reverse;
    padding: 1.5rem;
  }
  main section#sec3 .top,
  main section#sec3 .btm {
    width: 50%;
  }
  main section#sec3 .top img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#sec3 .btm {
    justify-content: space-between;
    padding: 2.5rem;
  }
  main section#sec3 .btm .btm-text h1 {
    font-size: 3rem;
  }
  main section#sec3 .btm .btm-text p {
    font-size: 1rem;
    display: block;
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  main section#sec4 {
    flex-direction: row;
    padding: 0rem 1.5rem;
  }
  main section#sec4 .top,
  main section#sec4 .btm {
    width: 50%;
  }
  main section#sec4 .top img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#sec4 .btm {
    justify-content: space-between;
    padding: 2.5rem;
  }
  main section#sec4 .btm .btm-text h1 {
    font-size: 3rem;
  }
  main section#sec4 .btm .btm-text p {
    font-size: 1rem;
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  main section#sec5 .cards {
    flex-direction: row;
    justify-content: space-between;
  }
  main section#sec5 .cards .card {
    width: 33%;
  }
  main section#sec6 {
    flex-direction: row;
    padding: 1.5rem;
  }
  main section#sec6 .top,
  main section#sec6 .btm {
    width: 50%;
  }
  main section#sec6 .top img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#sec6 .btm {
    justify-content: space-between;
    padding: 2.5rem;
  }
  main section#sec7 .sec7-text {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  main section#sec7 .sec7-text .btm {
    width: 20%;
    gap: 0.2rem;
    align-items: center;
  }
  footer {
    flex-direction: row;
  }
  footer .top {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-content: space-between;
  }
  footer .btm .btm-sec1 {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  footer .btm .btm-sec2 {
    flex-direction: row;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */