* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
:root {
    --x: 200px;
    --y: 200px;
}
body {
    background-image: url(./lamborgini.jpg);
    background-size: cover;
    background-position: bottom;
}
.box {
    height: 100%;
    width: 100%;
    background: radial-gradient(100px at var(--x) var(--y), rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.879));
}