* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans';
}

nav {
    color: rgb(249, 239, 239);
    background-color: rgb(31, 31, 66);
    padding: 2rem;
    text-align: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    @include flex-column();
    background-color: #fcfcf0;
    gap: 2rem;
    padding: 2rem 8rem;

    #about {
        @include flex-column();
        gap: 1rem;
        background-color: white;
        padding: 2rem;

        p {
            text-align: center;
        }
    }

    .sections {
        width: 100%;
        padding: 1rem;
        background-color: rgb(181, 209, 200);

        @include flex-column();
        gap: 1rem;

        ul {
            width: 100%;
            
            @include flex-column();
            justify-content: center;
            gap: 1rem;

            li {
                width: 60%;
                list-style: none;
                background-color: white;
                text-align: center;
                padding: 0.5rem;
            }
        }
    }

    #education {
        background-color: #ace5ee;
    }

    #skills {
        background-color: #fcfcc4;
    }

    #projects {
        background-color: #d7fdc0;
    }
}

footer {
    background-color: rgb(33, 33, 53);
    color: white;
    padding: 1.5rem;
    text-align: center;
}